/* Contenedor del formulario */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 800px;
  min-height: 350px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border: 2px solid #000000;

  /* Estilo "enterrado" o hundido */
  box-shadow: inset 3px 3px 5px #808080, inset -2px -2px 5px #ffffff;

  font-family: 'MS Sans Serif', sans-serif;
}

/* Estilos para los campos de entrada */
.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 2px solid #000000; 
  border-radius: 0; 
  font-size: 15px;
  width: 100%; 
  box-sizing: border-box; 
  background-color: #ffffff; 
  color: #000000; 
}

/* Estilo para el texto de los campos */
.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: #000080; 
}

/* Estilos para el botón de envío */
.contact-form .send-button {
  padding: 20px;
  background-color: #000080; 
  color: white;
  border: 2px solid #000000;
  border-radius: 0; 
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'MS Sans Serif', sans-serif; 
}

.contact-form .send-button:hover {
  background-color: #0000cd; 
}

/* Estilo para los mensajes de éxito o error */
.success-message {
  color: green;
  font-weight: bold;
}

.error-message {
  color: red;
  font-weight: bold;
}
